<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre mi</title>
    <link rel="stylesheet" href="/Styles/styles.css">
</head>
<body>
    <!--Header-->
    <header>
        <h1 class="navbar__title">
            Brineidy Salomón
            <span class="navbar__subtitle">Proyecto Freelancer</span>
        </h1>
    </header><!--Header-->

    <!--Navbar-->
    <nav class="navbar">
        <ul class="navbar__list">
            <li class="navbar__item"></li><a href="/index.html" class="navbar__link">Inicio</a></li>
            
            <li class="navbar__item"></li><a href="/Views/Page/Course.html" class="navbar__link">Cursos</a>
            
            <li class="navbar__item"></li><a href="/Views/Page/About.html" class="navbar__link">Sobre mí</a>
            
            <li class="navbar__item"></li><a href="/Views/Page/contact.html" class="navbar__link">Contacto</a>
             
      </ul>
    </nav><!--Navbar-->
    <h1>Estoy en sobre mí</h1>

</body>
</html>